# Ignore appsettings with secrets
appsettings*.json
/Backend/Byte & Brew/Byte & Brew/appsettings*.json

# Ignore Visual Studio files
.vs/
bin/
obj/
*.user
*.suo
*.cache

# Ignore JetBrains Rider files (if any)
.idea/

# Ignore node_modules if you have any frontend code
node_modules/
Backend/Byte & Brew/Byte & Brew/appsettings.json
Backend/Byte & Brew/Byte & Brew/appsettings.json
