@*     
Skapa landningssidan (Home)
Skapa en startsida som välkomnar besökaren och presenterar din restaurang:
En kort introduktion om restaurangen, kaféet eller bageriet – exempelvis koncept, känsla eller specialitet.
Visa några av de mest populära rätterna/dryckerna från menyn, inklusive bilder om BildUrl
 finns.
*@

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<h1>Welcome to Byte & Brew!</h1>
<p>This is the MVC homepage.</p>
